<div class="row">
  <div class="video-row">
    <div class="col-sm-6">
      <div class="<%- isDir ? " folderIcon " : "fileIcon " %>">
        <a class="video-title" href="<%- href %>" download>
          <%- index+1 %>. 
          <%= name %>
        </a>
      </div>
    </div>
    <div class="col-sm-2">
      <%= sizeHumanReadable %>
    </div>
    <div class="col-sm-4">
      <% if(!isDir && (name.substr(-4)===".mp4" || name.substr(-5)===".webm")) {%>
        <div class="video-wrap" data-index="<%- index %>" , data-src="<%- href %>" , data-name="<%- name %>">
          <div class="btn btn-primary play-button">play</div>
          <!-- <video id="my_video_<%- index %>" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" data-setup='{}'>
            <% if(name.substr(-4)===".mp4") {%>
              <source src="<%- href %>" type='video/mp4'>
            <% } %>

             <% if(name.substr(-5)===".webm") {%>
               <source src="<%- href %>" type='video/webm'>
             <% } %>
          </video> -->
        </div>
        <% } %>
    </div>

  </div>
</div>